# DATA TYPES

In [2]:
#creating data types 
emp_id=98
emp_name="saikiran"
emp_salary=9800.98
print("emp_id is " , emp_id)
print("emp_name is " , emp_name)
print("emp_salary is " , emp_salary)

emp_id is  98
emp_name is  saikiran
emp_salary is  9800.98

In [4]:
#checking the types of data with the type(p) function 
print("emp_id type is : ", type(emp_id))
print("Emp_name is :  ", type(emp_name))
print("emp_salary is : ", type (emp_salary))

emp_id type is :  <class 'int'>
Emp_name is :   <class 'str'>
emp_salary is :  <class 'float'>

DIFFERENT TYPES OD DATA TYPES 
1.USER DEFINED DTYPES
2.BUILT IN DTYPES

## BUILT IN DATA TYPES

The data types which are already existing in python are called built-in
data types.
1. Numeric types
o int
o float
2. bool (boolean type)
3. None
4. Sequence
o str
o list
o tuple
o set
o dict
o range

In [8]:
#int data type
a=20 
print(a)
print(type(a))
#float data type
b=99.99
print(b)
print(type(b))

20
<class 'int'>
99.99
<class 'float'>

In [11]:
#bool data type
a=True
b=False
print(a)
print("type of a is :", type(a))
print("type of b is " , type(b))

True
type of a is : <class 'bool'>
type of b is  <class 'bool'>

In [12]:
#none data type : it is an objent that does not contain any value 
a=None
print(a)
print("type of a is " , type (a))

None
type of a is  <class 'NoneType'>

# sequence data type

4. Sequences in Python
✓ Sequence means an object.
✓ Sequence object can store a group of values,
1. string
2. list
3. tuple
4. set
5. dict
6. range

In [19]:
#string
name="saikiran"
print(name, type(name))
#list 
value =[98,99]
print(value ,type(value))
#tuple
tuple_value=(99,100)
print(tuple_value , type(tuple_value))
#set
set_value={99,34}
print(set_value ,type(set_value))
#dictionary
details={
    "name": [ "sai", "nithin" "kiran"],
    "age" : [ 20,32,21]
}
print(details,type(details))
#range
values=range(0,100,20)
for value in values: 
    print(value)
print(value)
print("value type is : " , type(value))
print("values type is : " , type(values))

saikiran <class 'str'>
[98, 99] <class 'list'>
(99, 100) <class 'tuple'>
{34, 99} <class 'set'>
{'name': ['sai', 'nithinkiran'], 'age': [20, 32, 21]} <class 'dict'>
0
20
40
60
80
80
value type is :  <class 'int'>
values type is :  <class 'range'>

 ## USER DEFINED DATA TYPES

DATA TYPES CREATED BY THE PROGRAMMER ARE USER DEFINED DATA TYPES

In [24]:
#converting int  to str 
a=98
print(a,type(a))
b=str(a)
print(b,type(b))
c=float(b)
print(c,type(c))

98 <class 'int'>
98 <class 'str'>
98.0 <class 'float'>