# NAMING CONVENTIONS

### naming conventions
 ### While writing an identifier we can use,
###  Alphabets, either upper case or lower case
### numbers from 0 to 9
### Underscore symbol (_)

In [1]:
$tudent_id=102
print($tudent_id)

SyntaxError: invalid syntax (1329704737.py, line 1)

In [2]:
#point2 identifie should not start with  digit

In [3]:
123_student_Id=1-1
print(123_student_Id

SyntaxError: invalid decimal literal (2123874596.py, line 1)

In [4]:
#Point 3 identifier is case sensitive

In [5]:
value=1
print(Value)

NameError: name 'Value' is not defined

In [7]:
#point 4  : cannot use keywords as identifires
if =10
print(10)

SyntaxError: invalid syntax (2020789117.py, line 2)

In [8]:
# point 5 : spaces are not allowed between identifier 
student id =98
print(student id =98)

SyntaxError: invalid syntax (2727681434.py, line 2)

by the above 5 points  are the main for identifier 
error we get : syntaxError

# comments in programs

✓ There are two types of comments
1. Single line comments
2. Multi line comments

Purpose of comments
✓ Comments are useful to describe about the code in an easy way.
✓ Python ignores comments while running the program.
1. Singe line comments
✓ By using single line comment, we can comment only a single line.
✓ To comment single line, we need to use hash symbol #
2.Multiline comments
✓ By using multi line comment we can comment multiple lines.
✓ To comment multiple lines, we need to use triple double quotes symbol.

In [10]:
"""author saikiran 
projent python 
location hyderabad"""

'author saikiran \nprojent python \nlocation hyderabad'

In [11]:
print("welcome to python programming ")

welcome to python programming